.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.ch-item {
    color: gray;
    text-align: center;
    padding-top: 14px;
}

.by-year-item {
    color: gray;
    padding-top: 10px;
}

.item-year {
    transform: rotate(270deg);
    border-bottom: 1px solid gray;
    width: 100px;
    height: 30px;
    text-align: center;
    margin-left: -36px;
}

.item-driver {

}

.item-nationality {

}

.item-company {

}

.item-points {

}

.item-image {
    text-align: center;
}

.item-race{
    border-bottom: 1px solid gray;
    font-size: 18px;
}

.item-image img {
    width: 77%;
}
