* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.app-bar {
  width: 100%;
  height: 80px;
  background: #e00;
  color: white;
  vertical-align: middle;
}

.app-bar svg {
  width: 120px;
  margin-left: 18px;
  margin-top: 25px;
}

@keyframes App-logo-spin {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

.world-champions {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 38px;

  table {
    border-spacing: 0;
    width: 100%;
  }

  th {
    background: #e4e4e4;
    height: 50px;
  }

  td {
    border-bottom: 1px solid #9E9E9E;  
    height: 50px;
  }
}

.list-header {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  color: #4c4c4c;
}

.list-header-driver {
  width: 33%;
  padding-left: 80px;
}

.list-header-nationality {
  width: 18%;
}

.list-header-team {
  width: 33%;
}

.list-header-points {

}

.ch-item {
  color: gray;
  text-align: center;
  padding-top: 2px;
}

.by-item {
  color: gray;
}

.by-driver {
  color: black;
}

.by-name-item-highlight {
  color: #ec7373;
}

.item-year {
  height: 100%;
  text-align: center;
  background: #bfbfbf;
  color: white;
  padding-top: 16px;
  border-right: 10px solid red;
}

.item-driver {
  color: #000000;
}

.item-company {
  float:left;
  padding: 5px;
}

.item-points {
  text-align: right;
}

.item-image {
  width: 93px;
  text-align: center;
  padding-top: 0;
  float: right;
}

.item-show-all-champions {
  font-size: 12px;
  text-decoration: underline;
  cursor: pointer;
  padding-left: 20px;
  padding-right: 20px;
}

.header-show-all-champions {
  width: 152px;
}

.header-year {
  width: 74px;
}

.header-points {
  text-align: right;
}

.item-race {
  font-size: 18px;
}